* {
  box-sizing: border-box;
  font-family: "Yuji Boku", serif;
}

.container {
  width: 26rem;
  height: 38rem;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: 5% auto;
  box-shadow: 2px 4px 8px -7px #000000;
  position: relative;
}

/* header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0 1rem 0;
}

.today-date {
  font-size: 20px;
  color: #505050;
  border-bottom: 1px solid #eee;
  padding-bottom: 1.5rem;
}

/* end of header */

/* input */
.add {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#myInput {
  margin-top: 1rem;
  width: 18rem;
  padding: 5px 15px;
  border-radius: 0;
  border: 1px solid #505050;
  background-color: #fff5f5;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.add i {
  position: absolute;
  top: 21px;
  right: 70px;
  cursor: pointer;
  color: rgb(230, 216, 216);
  font-size: 1.2rem;
}
/* end of input */

/* todo list */
ul {
  list-style: none;
  margin: 2rem 4rem;
  padding: 0;
}

.todo {
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.5s ease;
  margin-bottom: 1rem;
  color: #505050;
  padding: 5px;
  border-bottom: 0.1rem dashed #eee;
}

.todo-btn {
  width: 20px;
  height: 20px;
  border: 1px solid #f5b8b8;
  background-color: #fff;
  margin-right: 1rem;
}

.delete-btn {
  cursor: pointer;
  border: none;
  background-color: #fff;
  color: rgb(230, 216, 216);
  position: absolute;
  right: 0;
}

.fa-xmark {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "f00c";
}

.checkmark {
  background-color: #f5b8b8;
  border: 0.1rem solid #f5b8b8;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
/* end of todo list */

/* Footer */

.summary {
  position: absolute;
  left: 20%;
  bottom: 5%;
  color: #505050;
}
